#include "CONINFO.RCH"

DLGTEMPLATE ID_CONINFOFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Remote party information", ID_CONINFOFORM,
            0,0,249,112,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "The person you are connected to has the following NetChat version, FTP port setting, and IP address :", 1000,
            22,78,208,26,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00006101 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "~OK", 1001,
            110,10,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1002,
            98,47,131,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000028 
            CTLDATA 12,32,0,0,0,0
    CONTROL "", 1003,
            98,33,131,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000028 
            CTLDATA 12,32,0,0,0,0
    CONTROL "IP address", 1005,
            26,32,54,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "FTP port", 1004,
            26,46,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1006,
            98,61,131,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000028 
            CTLDATA 12,32,0,0,0,0
    CONTROL "NetChat ver.", 1007,
            26,60,60,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1008,
            5,4,239,108,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_CONINFOFORM
BEGIN
END
ICON ID_CONINFOFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
