#include "CPC.RCH"

DLGTEMPLATE ID_CPCFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Send, Paste, or Cancel", ID_CPCFORM,
            0,0,166,23,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "~Send", 1000,
            6,4,46,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Paste", 1001,
            60,4,46,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Cancel", 1002,
            114,4,46,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
  END
END

HELPSUBTABLE ID_CPCFORM
BEGIN
END
ICON ID_CPCFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
