#include "EDITPHR.RCH"

DLGTEMPLATE ID_EDITPHRFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Edit a favorite phrase", ID_EDITPHRFORM,
            0,0,279,112,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            14,30,250,62,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x0000000f 
    CONTROL "~Save", 1001,
            96,12,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "~Cancel", 1002,
            146,12,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Enter favorite phrase", 1005,
            14,92,130,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1003,
            6,6,266,104,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_EDITPHRFORM
BEGIN
END
ICON ID_EDITPHRFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
