#include "FPROMPT.RCH"

DLGTEMPLATE ID_FPROMPTFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_FPROMPTFORM,
            0,0,257,54,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            14,27,227,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,1024,0,0,0,0
    CONTROL "~Accept file", 1001,
            62,8,60,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "~Reject file", 1002,
            134,8,60,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Accept fully qualified default path or enter another", 1003,
            12,38,230,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1004,
            4,4,248,50,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_FPROMPTFORM
BEGIN
END
ICON ID_FPROMPTFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
