#include "HAILNOTE.RCH"

DLGTEMPLATE ID_HAILNOTEFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "You are being hailed!", ID_HAILNOTEFORM,
            0,0,236,192,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1000,
            0,110,236,82,
            WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
    CONTROL "~Connect", 1001,
            0,0,114,16,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000c00 
    CONTROL "~Don't connect", 1002,
            114,0,122,16,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1003,
            4,20,228,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002d 
            CTLDATA 12,260,0,0,0,0
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1004,
            4,36,228,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002d 
            CTLDATA 12,260,0,0,0,0
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1005,
            5,51,228,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002d 
            CTLDATA 12,260,0,0,0,0
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "e-mail Reply-To address", 1006,
            4,64,140,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Auto-synch ports", 1007,
            146,64,88,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1008,
            0,76,236,34,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x0000001f 
  END
END

HELPSUBTABLE ID_HAILNOTEFORM
BEGIN
END
ICON ID_HAILNOTEFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
