#include "HAILLIST.RCH"

DLGTEMPLATE ID_HAILLISTFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "NetChat hailing address list", ID_HAILLISTFORM,
            0,0,228,144,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1000,
            0,48,228,96,
            WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
    CONTROL "", 1001,
            0,14,228,34,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x0000000f 
    CONTROL "~Busy now ...", 1002,
            0,0,62,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "B~usy now 2 ...", 1004,
            156,0,72,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "I will ~listen for ...", 1005,
            62,0,94,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
  END
END

HELPSUBTABLE ID_HAILLISTFORM
BEGIN
END
ICON ID_HAILLISTFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
