#include "Main.RCH"

DLGTEMPLATE ID_MAINFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "NetChat for OS/2", ID_MAINFORM,
            0,0,340,174,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1001,
            0,0,340,44,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000007 
            PRESPARAMS PP_BACKGROUNDCOLOR,0x7ffcff
    CONTROL "", 1000,
            0,64,340,106,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000017 
    CONTROL "~Listen OFF", 1002,
            0,44,62,20,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Echo", 1003,
            62,44,40,20,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Monitor OFF", 1006,
            240,44,60,20,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Hail ", 1007,
            300,44,40,20,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Copy", ID_COPYCB,
            160,44,40,20,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Paste", ID_PASTECB,
            200,44,40,20,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Incoming file", 1008,
            102,44,58,20,
            WC_BUTTON, WS_VISIBLE | WS_DISABLED | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

MENU ID_MAINFORM PRELOAD
BEGIN
  SUBMENU "~File", IDM_FILE, MIS_TEXT
  BEGIN
    MENUITEM "~Send file", 275, MIS_TEXT, MIA_DISABLED
    MENUITEM "~Abort file transfer", 282, MIS_TEXT, MIA_DISABLED
    MENUITEM "~Listen               Ctrl+T", IDM_CONNECT, MIS_TEXT
    MENUITEM "~Manual connect   Ctrl+M ", IDM_WINDOWSTYLE, MIS_TEXT
    MENUITEM "~Wake up", 279, MIS_TEXT
    MENUITEM "~Remote party info ...", 268, MIS_TEXT
    MENUITEM "D~ownload directory", IDM_INDEX, MIS_TEXT
    MENUITEM "~Upload directory", 284, MIS_TEXT
    MENUITEM "~Exit                     Alt+X", IDM_EXITAPP, MIS_TEXT
    MENUITEM "~Disconnect           Ctrl+Q", IDM_CLOSECONNECTION, MIS_TEXT
    MENUITEM "Current I~P address", 273, MIS_TEXT
  END
  SUBMENU "~Edit", IDM_EDIT, MIS_TEXT
  BEGIN
    MENUITEM "WordWrap ~local     Ctrl+L", IDM_WORDWRAPL, MIS_TEXT
    MENUITEM "WordWrap ~remote  Ctrl+R", IDM_WORDWRAPR, MIS_TEXT
    MENUITEM "~Copy remote          Ctrl+C", IDM_COPY, MIS_TEXT
    MENUITEM "~Paste local             Ctrl+V", IDM_PASTE, MIS_TEXT
    MENUITEM "Cl~ear local entry area", 280, MIS_TEXT
    MENUITEM "Cle~ar remote entry area", 281, MIS_TEXT
  END
  SUBMENU "~Configure", IDM_CONFIGURE, MIS_TEXT
  BEGIN
    MENUITEM "~Internet acct. settings ...", 267, MIS_TEXT
    MENUITEM "~Misc. settings ...", 278, MIS_TEXT
    MENUITEM "~Port settings ...", IDM_USINGHELP, MIS_TEXT
  END
  SUBMENU "~Misc.", 277, MIS_TEXT
  BEGIN
    MENUITEM "H~ailing list", 283, MIS_TEXT
    MENUITEM "Hail ~log", 269, MIS_TEXT
    MENUITEM "Phra~ses", 276, MIS_TEXT
  END
  SUBMENU "~Help", IDM_HELP, MIS_TEXT
  BEGIN
    MENUITEM "~About NetChat ...", IDM_ABOUTNETCHAT, MIS_TEXT
    MENUITEM "~NetChat Help", 286, MIS_TEXT
    MENUITEM "~Register ...", 285, MIS_TEXT
  END
END
ACCELTABLE ID_MAINFORM
BEGIN
  "T", IDM_CONNECT , CHAR, CONTROL
  "t", IDM_CONNECT , CHAR, CONTROL
  "M", IDM_WINDOWSTYLE , CHAR, CONTROL
  "m", IDM_WINDOWSTYLE , CHAR, CONTROL
  "X", IDM_EXITAPP , CHAR, ALT
  "x", IDM_EXITAPP , CHAR, ALT
  "Q", IDM_CLOSECONNECTION , CHAR, CONTROL
  "q", IDM_CLOSECONNECTION , CHAR, CONTROL
  "L", IDM_WORDWRAPL , CHAR, CONTROL
  "l", IDM_WORDWRAPL , CHAR, CONTROL
  "R", IDM_WORDWRAPR , CHAR, CONTROL
  "r", IDM_WORDWRAPR , CHAR, CONTROL
  "C", IDM_COPY , CHAR, CONTROL
  "c", IDM_COPY , CHAR, CONTROL
  "V", IDM_PASTE , CHAR, CONTROL
  "v", IDM_PASTE , CHAR, CONTROL
END
HELPSUBTABLE ID_MAINFORM
BEGIN
END
ICON ID_MAINFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
