#include "MCONNECT.RCH"

DLGTEMPLATE ID_MCONNECTFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Manual connect", ID_MCONNECTFORM,
            0,0,224,78,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1002,
            16,35,125,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,40,0,0,0,0
    CONTROL "Co~nnect", 1003,
            52,12,56,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000c00 
    CONTROL "~Cancel", 1004,
            116,12,56,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "IP address", 1007,
            146,36,58,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Enter the IP address for the person you intend to connect with.", 1008,
            12,50,194,18,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00006101 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1009,
            6,4,212,74,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_MCONNECTFORM
BEGIN
END
ICON ID_MCONNECTFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
