#include "MISCSET.RCH"

DLGTEMPLATE ID_MISCSETFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Misc. Settings", ID_MISCSETFORM,
            0,0,248,238,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            18,217,48,10,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000115 
    CONTROL "Monitor (mail) interval (seconds)", 1001,
            68,217,156,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "~Save", 1006,
            72,10,48,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "~Cancel", 1007,
            132,10,48,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "", 1008,
            20,205,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "", 1009,
            20,191,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "Default download dir.", 1010,
            140,204,94,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Default upload dir", 1011,
            140,190,94,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Force NetChat to use machine (network) IP", 1012,
            18,152,206,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Start Phrase list at program startup", 1013,
            18,142,216,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Receiving a Hail", 1020,
            108,82,92,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "File received OK", 1021,
            108,52,92,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Transfer rejected", 1023,
            108,32,112,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Send Hail", 1019,
            30,32,70,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "File not received OK", 1022,
            108,42,112,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Connected!", 1015,
            30,72,70,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Wake up!", 1016,
            30,62,70,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Send file", 1018,
            30,42,70,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Incoming file", 1014,
            30,82,70,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Echo", 1017,
            30,52,70,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Unhide and bring to the front when hailed", 1002,
            18,122,216,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "File sent OK", 1024,
            108,72,92,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "File not sent OK", 1025,
            108,62,92,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL " Beep me when ... ", 1003,
            18,28,214,74,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Start NetChat minimized", 1004,
            18,132,216,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Auto-synchronize ports from a hail message", 1005,
            18,162,214,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1026,
            114,175,27,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,4,0,0,0,0
    CONTROL "", 1027,
            155,175,27,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,4,0,0,0,0
    CONTROL "", 1028,
            197,175,27,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,4,0,0,0,0
    CONTROL "Default reset ports", 1029,
            18,176,82,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "R:", 1030,
            102,176,10,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "T:", 1031,
            144,176,10,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "F:", 1032,
            186,176,10,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Prompt when dragging & dropping files to send", 1033,
            18,112,216,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Prompt when closing NetChat", 1034,
            18,102,216,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1035,
            6,4,236,234,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_MISCSETFORM
BEGIN
END
ICON ID_MISCSETFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
