#include "NEWREC.RCH"

DLGTEMPLATE ID_NEWRECFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Add a new record", ID_NEWRECFORM,
            0,0,283,130,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            22,107,171,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "", 1001,
            22,91,171,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "", 1002,
            20,30,242,56,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x0000000f 
    CONTROL "~Save", 1003,
            92,12,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000c00 
    CONTROL "~Cancel", 1004,
            144,12,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Name", 1006,
            196,106,66,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "E-mail address", 1007,
            196,90,66,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1005,
            6,6,270,122,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_NEWRECFORM
BEGIN
END
ICON ID_NEWRECFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
