#include "PHRLIST.RCH"

DLGTEMPLATE ID_PHRLISTFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Double left click to send selection.  Right click for menu.", ID_PHRLISTFORM,
            0,0,182,112,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1000,
            0,0,182,112,
            WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
  END
END

HELPSUBTABLE ID_PHRLISTFORM
BEGIN
END
ICON ID_PHRLISTFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
