#include "REG.RCH"

DLGTEMPLATE ID_REGFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Please type in the registration code phrase", ID_REGFORM,
            0,0,212,46,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            20,27,171,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,40,0,0,0,0
    CONTROL "~Save", 1001,
            88,8,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1002,
            6,4,200,42,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_REGFORM
BEGIN
END
ICON ID_REGFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
