#include "SETTINGS.RCH"

DLGTEMPLATE ID_SETTINGSFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Internet account settings for Net Chat", ID_SETTINGSFORM,
            0,0,222,223,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "Internet account settings for Net Chat", 1000,
            12,202,196,14,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x800000
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"14.Tms Rmn Bold Italic"
    CONTROL "Pop server", 1001,
            144,180,58,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Mail address", 1002,
            144,166,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Password", 1003,
            144,153,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1004,
            24,182,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "", 1005,
            24,168,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "", 1006,
            24,153,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000088 
            CTLDATA 12,80,0,0,0,0
    CONTROL "~Save settings", 1019,
            34,10,76,16,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000c00 
    CONTROL "~Cancel", 1020,
            114,10,76,16,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "", 1007,
            24,33,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "Nickname", 1008,
            145,32,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "SMTP server", 1010,
            145,112,58,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Mail address", 1011,
            145,98,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1012,
            24,112,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "", 1013,
            24,98,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "Password", 1015,
            144,83,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1016,
            24,83,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000088 
            CTLDATA 12,80,0,0,0,0
    CONTROL " Settings for receiving hailing messages ", 1009,
            12,148,198,54,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1017,
            24,69,117,9,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "", 1018,
            24,55,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,80,0,0,0,0
    CONTROL "Reply to addr.", 1021,
            144,68,62,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Reply to name", 1014,
            144,54,64,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Use OS/2's sendmail instead of NetChat's", 1024,
            22,124,184,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL " Settings for sending Hailing messages ", 1022,
            12,50,198,94,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1023,
            6,4,210,218,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_SETTINGSFORM
BEGIN
END
ICON ID_SETTINGSFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
