#include "SPORTS.RCH"

DLGTEMPLATE ID_SPORTSFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Set Receiving, transmit, and file transfer ports", ID_SPORTSFORM,
            0,0,212,96,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1003,
            24,76,85,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,4,0,0,0,0
    CONTROL "", 1002,
            24,62,85,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,4,0,0,0,0
    CONTROL "~Save", 1000,
            52,10,50,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000c00 
    CONTROL "~Cancel", 1001,
            114,10,52,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "Receiving port", 1010,
            112,76,88,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Transmitting port", 1005,
            112,62,88,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1004,
            24,48,85,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,4,0,0,0,0
    CONTROL "File transfer port", 1007,
            112,44,88,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1006,
            22,28,168,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1008,
            6,4,200,92,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_SPORTSFORM
BEGIN
END
ICON ID_SPORTSFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
