#include "STATS.RCH"

DLGTEMPLATE ID_STATSFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Current IP address", ID_STATSFORM,
            0,0,174,54,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            12,25,149,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000029 
            CTLDATA 12,260,0,0,0,0
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "~OK", 1001,
            66,6,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "Current IP address", 1002,
            10,38,152,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_STATSFORM
BEGIN
END
ICON ID_STATSFORM "F:\\NCHATTCP\\NETCHAT\\netchat.ico"
