#include "Main.RCH"

DLGTEMPLATE ID_MAINFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "MakeKeys", ID_MAINFORM,
            0,0,313,117,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_MAXBUTTON | FCF_MINBUTTON 
  BEGIN
    CONTROL "", 1000,
            84,95,215,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,40,0,0,0,0
    CONTROL "Name : ", 1001,
            12,94,32,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1002,
            84,31,125,9,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,13,0,0,0,0
    CONTROL "Registration # :", 1003,
            12,32,68,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "C~reate", 1004,
            98,8,44,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Cancel", 1005,
            174,8,44,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1006,
            82,46,218,44,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x00000007 
    CONTROL "Address : ", 1007,
            12,46,44,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_MAINFORM
BEGIN
END
